<!DOCTYPE html>
<html>
   <head>
     <title>Personas</title>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default.css') }}">
   </head>
   <body>
      <nav>
         <a href = "{{ url_for('show_all') }}">Mostrar personas</a> |
         <a href = "{{ url_for('new') }}">Agregar persona</a>
      </nav>

      <aside>
        {%- for message in get_flashed_messages() %}
           {{ message }}
        {%- endfor %}
      </aside>
      <section>      
        <h3>Personas</h3>

        <table>
           <thead>
              <tr>
                 <th>Identificacion</th>
                 <th>Foto</th>
                 <th>Nombre</th>
                 <th>Apellido</th>
                 <th>Telefono</th>
                 <th>Direccion</th>
              </tr>
           </thead>

           <tbody>
              {% for persona in personas %}
                 <tr>
                  
                    <td>{{ persona.identificacion }}</td>
                    <td>{{ persona.foto }}</td>
                    <td>{{ persona.nombre }}</td>
                    <td>{{ persona.apellido }}</td>
                    <td>{{ persona.telefono }}</td>
                    <td>{{ persona.direccion }}</td>
                    <td>
                     <form method="POST" action="/update" style="display: inline">
                       <input type="hidden" value="{{persona.id}}" name="oldname">
                       <input type="submit" value="Update">
                     </form>
                   </td>
                   <td>
                    <form action="index.php" method="post" enctype="multipart/form-data">
                      <input type="hidden" name="acc" value="envio">
                      <input type="file" name="archivo"><br>
                      <button type="submit">Enviar archivo</button>
                  </form>
                   </td>
                   <td>
                     <form method="POST" action="/delete" style="display: inline">
                       <input type="hidden" value="{{persona.id}}" name="oldname">
                       <input type="submit" value="Delete">
                     </form>
                   </td>
                   <td>
                     <form method="POST" action="/newAcademic" style="display: inline">
                       <input type="submit" value="New Academic">
                     </form>
                   </td>
                   <td>
                     <form method="POST" action="/showAcademic" style="display: inline">
                       <input type="submit" value="Show Academic">
                     </form>
                   </td>
                   <td>
                    <form method="POST" action="/newIntereses" style="display: inline">
                      <input type="submit" value="New Intereses">
                    </form>
                  </td>
                  <td>
                    <form method="POST" action="/showIntereses" style="display: inline">
                      <input type="submit" value="Show Intereses">
                    </form>
                  </td>
                 </tr>
              {% endfor %}
           </tbody>
        </table>
    </section>
   </body>
</html>
