<!DOCTYPE html>
<html>
   <head>
     <title>Estudios</title>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default.css') }}">
   </head>
   <body>
      <nav>
         <a href = "{{ url_for('show_all') }}">Mostrar personas</a> |
      </nav>

      <aside>
        {%- for message in get_flashed_messages() %}
           {{ message }}
        {%- endfor %}
      </aside>
      <section>      
        <h3>Estudios</h3>

        <table>
           <thead>
              <tr>
                 <th>Institución</th>
                 <th>Título</th>
                 <th>Año</th>
                 <th>Id</th>
              </tr>
           </thead>

           <tbody>
              {% for academi in academico %}
                 <tr>
                    <td>{{ academi.institucion }}</td>
                    <td>{{ academi.tiutlo }}</td>
                    <td>{{ academi.anio }}</td>
                    <td>{{ academi.persona_id }}</td>
                 </tr>
              {% endfor %}
           </tbody>
        </table>
    </section>
   </body>
</html>